Available Themes: 
- chesterish
- grade3
- gruvboxd
- gruvboxl
    color beach, letras negras
- monokai
- oceans16
- onedork
- solarizedd
- solarizedl
    color beach mas claro

In [1]:
# !jt -l
# !jt -t solarizedl -T
# !jt -r

## Listado de cosas pendientes


__Clusterings a desarrollar__
1. [X] Clustering RFM+
2. [ ] Clustering RF KG Valoración
3. [ ] Clustering RFM KG Valoración
4. [ ] Clustering RFM KG Valoración





__Pasos RFM__
1. [X] Data Customer All
2. [X] Data Facturas All
3. [X] Construcción Caracteristicas a usar
    - [X] Un modelo por cada week tipe
    - [X] Modelo que reemplza W por $C_W$
3. [X] Dispersión puntos RFM
4. [X] Modelo Clustering de R+FM
    - [X] Defionir R, aparte
    - [X] Defionir FxM
    - [X] Calcular Clustering FxM
5. [ ] Descripción del Cluster contruido por R+FM

## Apuntes

La disposicipon de pago, se construye por etapas.

1. [ ] Se define el modelo de regresión general:
   1. [ ] Como forma introductoria **qué es** (Ecuación).
   2. [ ] Se presenta un rago de precios para este modelo de regresión, por medio de un grafico de dispersión.
   3. [ ] Explicación de lo que representan los coeficientes del modelo.
   4. [ ] Diferencias entre la interpretación de estos si es Log()/Nivel.
2. [ ] Se recoge el atributo del modelo llamado Semanas, estas Poseen la particularidad de influir en el precio, como se mencionó anteriormente, es por ello que se adieren en el modelo.
3. [ ] Las semanas.

# Inicio


__Rename__
Recordar que la columna llamada

- `Precio promedio` ahora es `Precio`
- `Centro.1` ahora es `Centro`
- `Centro` ahora es `Centro_Cod`

Presenta los parametros del modelo:

- Dirección datos
- Dirección Graficos
- _Material a analizar_
- _Canal a analizar_
- _Zona de los Datos_
- _Año de inicio de analizis_

Base de datos


`Tipo_de_Cliente`
`Y_producto`
`Año_inicio`

`file_direct_Graphic`

## Parametros 
data frame `data_i`


> - Producto `i_producto = Y_producto`
> -Para el Canal `Tipo_de_Cliente`
> -Variable a predecir/Grafico `Y_Variable`

Columnas de interes para predecir `X_col`

Diccionario del grupo de columnas `Dic_col`

In [2]:
#===================================
# Archivo
#===================================
Zona_df='Z001'

#===================================
# Clientes
#===================================
Tipo_de_Cliente='Tradicional'

#===================================
# Producto de interes
#===================================
Y_producto='1010078'


#===================================
# Año de Partida
#===================================
Año_inicio='2018'




# Ordenador de escritorio

file_direct_O="C:/Users/user/Documents/Data/Data Clear/"+Zona_df+"/"
file_direct_Clear="C:/Users/user/Documents/Data/Data Clear/"
file_direct_Graphic='C:/Users/user/Documents/Graficos'
Png_file_direct_Graphic="C:\\Users\\user\\Documents\\Graficos"
file_direct_Result_Data="C:/Users/user/Documents/Data/Data Resultante/"+Zona_df+"/"
"""

#Notebook
file_direct_O="C:/Users/rolft/Documents/Repositorios/Data/Data Clear/"+Zona_df+"/"
file_direct_Clear="C:/Users/rolft/Documents/Repositorios/Data/Data Clear/"
file_direct_Graphic='C:/Users/rolft/Documents/Repositorios/Graficos'
Png_file_direct_Graphic='C:\\Users\\rolft\\Documents\\Repositorios\\Graficos'
"""
#Graficos
file_direct_Graphic_Canal=file_direct_Graphic+"/"+Tipo_de_Cliente
file_direct_Graphic_Canal_Material=file_direct_Graphic_Canal+'/'+Y_producto

Png_file_direct_Graphic_Canal=Png_file_direct_Graphic+'\\'+'Canal '+Tipo_de_Cliente
Png_file_direct_Graphic_Canal_Material=Png_file_direct_Graphic_Canal+'\\'+Y_producto

## Intalar paquetes, Abrir data y ajustarla

### import

In [3]:
#from adjustText import adjust_text
# from adjustText import *

In [4]:
#=====================================================
                # BASE 
#-----------------------------------------------------
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#from geopandas import *

from plotnine import *

#para ajustar las fechas
import datetime

#para calcular el skew de un array() o list()
from scipy.stats import skew

In [5]:
#=====================================================
                # sklearn 
#-----------------------------------------------------

#Separador de datos en train/test
from sklearn.model_selection import train_test_split

#Prediccion Ridge Regression
from sklearn.linear_model import Ridge

In [6]:
#=====================================================
                # statsmodels 
#-----------------------------------------------------
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.tools.sm_exceptions import ConvergenceWarning


#from statsmodels.regression.mixed_linear_model import MixedLMResults
# No se para qué sirve este

In [7]:
#====================================================
#librerias para crear division de series temporales
#====================================================

from mizani.breaks import date_breaks
from mizani.formatters import date_format

In [8]:
# stopwatch
import time
def time_convert(sec):
  mins = sec // 60
  sec = sec % 60
  hours = mins // 60
  mins = mins % 60
  print("Time Lapsed = {0}:{1}:{2}".format(int(hours),int(mins),sec),'\n H:m:s')
#==================================
#          Example
#    input("Press Enter to start")
start_time = time.time()
#    input("Press Enter to stop")
#    end_time = time.time()
#    time_lapsed = end_time - start_time
#    time_convert(time_lapsed)
#=================================

In [9]:
#Histograma con porcentajes
from mizani.formatters import percent_format

### Funciones 
```python
#Mes_name
data_i.Mes.apply(Mes_name)
```
>Transforma la columna mes numerica en el nombre del mes

#### Numero a Meses

__Forma de crear una etiqueta para un valor especifico__
```python
#[Y_Graph]
dfz=df.copy()
dfz['Año select']=dfz.apply( lambda x: x['Año'] if x['Año']==2020 else '',axis=1)
dfz
```

In [10]:
#===================================
# Dicionario MES
#===================================

#===================================
# Fecha
D=['Enero','Febrero','Marzo','Abril',
 'Mayo','Junio','Julio','Agosto',
 'Septiembre','Octubre',
 'Noviembre','Diciembre']
Month_dic={i:D[i-1]  for i in range(1,13)}
#===========================================


def Mes_name(x):
    D=['Enero','Febrero','Marzo','Abril',
    'Mayo','Junio','Julio','Agosto',
    'Septiembre','Octubre',
    'Noviembre','Diciembre']
    return(D[int(x)-1])

#### Función estandariza ciertas columnas a LN

In [11]:
# ['Frecuency Actual del Cliente','Monetary Actual']
def data_ln(dx,ln_col,drop_columns):
    """
    Pasa un listado de columnas a Ln
    
        dx: dataframe
        ln_col: (Array) Listado de columnas a escalar 
        drop_columns: (True or False)  Eliminar columnas del listado
    """
    df_x=dx.copy()
    for s in ln_col:
        if(s in df_x.columns):
            print(s)
            df_x[s + '(Escala ln)']=\
            df_x[s].apply(lambda x: np.log(x))
    if(drop_columns):
        df_x.drop(columns = ln_col)
    return(df_x)

## Dicionario 
rename aplicado a `Precio promedio`

In [12]:
Dic_col={'Base':
                             ['Material (Nombre)', 'Kilos Venta KG', 'Precio','Cliente'],
        'Fecha':
                             ['Día natural','Día Semana','Semana', 'Mes', 'Año'],
        'Ubicacion':
                             ['Centro','Población'],
        'Cliente Categoria':
                             ['Cluster','Segmento.1', 'Categoría Cliente'],
        'Cliente Atributos':
                             ['Año Creación', 'Material Favorito','Frecuencia Historica'] 
         ,'RFM Row':
                 ['Recency días','Frecuency_Row','Monetary']
        ,'RFM Customers':
                 ['Recency Actual','Frecuency Actual del Cliente','Monetary Actual']
        ,'Ticket Row':
                 ['Ticket Promedio','Ticket CV']
        ,'Ticket Customers':
                 ['Ticket Promedio Actual','Ticket CV Actual']
        }

### Colores 

[Link colores muestra y configuración](https://www.rapidtables.com/web/color/RGB_Color.html)

In [13]:
('{:X}{:X}{:X}').format(31, 119, 180)
('{:X}{:X}{:X}').format(219, 96, 97)
('{:X}{:X}{:X}').format(87, 219, 95)

'57DB5F'

## Datos
- `data_i_RFM`: Facturaciones 
- `Clientes_i_RFM`: RFM Clientes 
- `Df_Week`: Semanas, Con su respectivo cluster

### Abrir Archivo   Facturaciones

Se debe agregar el parametro `,index_col='Unnamed: 0'` de esta froma tal vez se pueda hacer un merge en base al indice

##### Formación Datos

###### Abrir csvs

In [14]:
#======================================================================
# R
#=====================================================================

file_direct=file_direct_O+'data_1010078_CT R'+'.csv'
col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

data_i_R = pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
print('R',data_i_R.shape)


#======================================================================
# F
#=====================================================================

file_direct=file_direct_O+'data_1010078_CT F'+'.csv'
col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

data_i_F = pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
print('F',data_i_F.shape)
#======================================================================
# M
#=====================================================================

file_direct=file_direct_O+'data_1010078_CT M'+'.csv'
col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

data_i_M = pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
print('M',data_i_M.shape)

R (198596, 19)
F (198596, 19)
M (198596, 20)

###### Merge

In [15]:
#======================================================================
# RFM
#=====================================================================

print('RF',(pd.merge(data_i_R,data_i_F )).shape)

print('RFM',pd.merge(pd.merge(data_i_R,
                              data_i_F ) ,
                    data_i_M).shape)
DATA_i_RFM = pd.merge(pd.merge(data_i_R,data_i_F ),data_i_M)

del (data_i_R,data_i_F,data_i_M)

RF (198596, 20)
RFM (198596, 22)

#### Funcion

###### def

In [16]:
# =============================================================================
# Ajustar la data
# =============================================================================
def Ajuste_data_RFM(data):
    start_time = time.time()

    df=data.copy()

# =================================
# ELiminare dodos los valores Nan
# =================================
    #for i in df.columns.to_list():
    #    df=df[df[i].notna()]

    
    
#=================================
# Proceso Recency a Int 
#=================================
        
    df['Recency días']=df['Recency'].apply( lambda x:  x.split(' ')[0])
    
#=================================
# Proceso iterativo Pasar a numero
#=================================

    for i in ['Kilos Venta KG'
#               ,'Venta Neta'
              ,'Precio'
#               RFM
              ,'Recency días'
              ,'Frecuency_Row'
              ,'Monetary'
              ,'Ingreso de Venta CLP'
             ]:
        
        df[i]=df[i].astype('float64').astype('int64')
    for i in ['Kilos Venta KG'
#               ,'Venta Neta'
              ,'Precio'
#               RFM
              ,'Recency días'
#               ,'Frecuency_Row'
#               ,'Monetary'
               ,'Ingreso de Venta CLP'
             ]:
        df[i]=df[i].astype('int64')     



#==========================================================================================
# Ajuste de las fechas
#-----------------------------------------------------------------------------------------
    df["Día natural"] = df["Día natural"].apply(lambda x: 
                                                datetime.datetime.strptime(str(x),
                                                                           '%Y-%m-%d').date())
    
    #Separacion fecha
    
    #ELiminado de DF_FULL
    #df['Semana']=df["Día natural"].apply(lambda x: x.isocalendar()[1] )
    #df['Mes']=df["Día natural"].apply(lambda x: x.month)
    #df['Año']=df["Día natural"].apply(lambda x: x.year)
    #df['Semana']=df['Semana'].astype('int64')
    
#     df['Año']=df['Año'].astype('int64')
#     D_W=['Lunes','Martes','Miércoles','Jueves', 'Viernes','Sábado','Domingo']
#     df['Día Semana']=df["Día natural"].apply(lambda x: D_W[x.isocalendar()[2] -1])
#     df=df[df['Día Semana']!='Domingo']
    
    print(df.dtypes)
    end_time = time.time()
    time_convert(end_time - start_time)
    return df

###### aplicación

In [17]:
data_i_RFM=Ajuste_data_RFM(DATA_i_RFM)
data_i_RFM.head(2)

Material (Nombre)       object
Kilos Venta KG           int64
Precio                   int64
Día natural             object
Día Semana              object
Semana                  object
Mes                     object
Año                     object
Población               object
Centro                  object
Cliente                 object
Cluster                 object
Segmento.1              object
Categoría Cliente       object
Año Creación            object
Material Favorito       object
Frecuencia Historica    object
Mes_num                 object
Recency                 object
Frecuency_Row            int64
Ingreso de Venta CLP     int64
Monetary                 int64
Recency días             int64
dtype: object
Time Lapsed = 0:0:3.666093111038208
 H:m:s

,Material (Nombre),Kilos Venta KG,Precio,Día natural,Día Semana,Semana,Mes,Año,Población,Centro,...,Categoría Cliente,Año Creación,Material Favorito,Frecuencia Historica,Mes_num,Recency,Frecuency_Row,Ingreso de Venta CLP,Monetary,Recency días
0,1010078(Trutro Entero Selección),22,1300,2020-05-23,Sábado,21,Mayo,2020,La Pintana,Sucursal Lo Espejo,...,Especialista en Proc,2007,1010077,19,5,0 days,1,28600,0,0
1,1010078(Trutro Entero Selección),110,1174,2018-03-01,Jueves,9,Marzo,2018,Puente Alto,Sucursal Lo Espejo,...,Especialista en Crud,2007,1020253,464,3,0 days,1,129140,0,0

### Data Customers

#### Abrir Datos RFM Clientes

##### Abrir

In [18]:
#======================================================================
# Se Cargan los datos de ventas con las caracteristicas de los clientes
#=====================================================================

file_direct=file_direct_O+'Clientes_1010078_CT RFM'+'.csv'
col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

Clientes_i_RFM= pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
Clientes_i_RFM.head(1)

,Cliente,Fecha ultima Compra,Recency Actual,Fecha Creacion,Frecuency Actual del Cliente,Kilos Venta KG Promedio,Precio Promedio,Año Creación Promedio,Frecuencia Historica Promedio,Ingreso de Venta Promedio
0,10003742,2020-05-23,521,2020-05-23,0.0033444816053511705,22.0,1300.0,2007.0,19.0,28600.0

In [19]:
Clientes_i_RFM.iloc[1]

Cliente                                    10007508
Fecha ultima Compra                      2021-10-26
Recency Actual                                    0
Fecha Creacion                           2018-03-01
Frecuency Actual del Cliente     0.2017524296094161
Kilos Venta KG Promedio           93.15865384615384
Precio Promedio                  1266.8942307692307
Año Creación Promedio                        2007.0
Frecuencia Historica Promedio                 464.0
Ingreso de Venta Promedio        117683.47115384616
Name: 1, dtype: object

##### Función Ajuste

###### def  `Ajuste_Clientes_RFM`

In [20]:
# =============================================================================
# Ajustar la data
# =============================================================================
def Ajuste_Clientes_RFM(data):
    start_time = time.time()
    df=data.copy()

# =============================================================================
# Proceso iterativo Pasar a numero
#------------------------------------------------------------------------------

#----------------------------------------------------------------------
# Float
    for i in [
            #RFM
            'Recency Actual'
            ,'Frecuency Actual del Cliente'
            ,'Ingreso de Venta Promedio'
              
            #Val Fact
            ,'Kilos Venta KG Promedio'
            ,'Precio Promedio'
            
            # Val historicos (ind del producto)
            ,'Año Creación Promedio'
            ,'Frecuencia Historica Promedio'
             ]:
        df[i]=df[i].astype('float64')
        #.astype('int64')
        
        
#------------------------------------------------------------------------ 
    # Int
    for i in [
                #RFM
                'Recency Actual'
#                 ,'Frecuency Actual del Cliente'
#                 ,'Ingreso de Venta Promedio'

                #Val Fact
#                 ,'Kilos Venta KG Promedio'
#                 ,'Precio Promedio'

                # Val historicos (ind del producto)
                ,'Año Creación Promedio'
                ,'Frecuencia Historica Promedio'
                ]:
        df[i]=df[i].astype('int64')
        


#==========================================================================================
# Ajuste de las fechas
#-----------------------------------------------------------------------------------------
    for date in ['Fecha ultima Compra','Fecha Creacion']:
        df[date] = df[date].apply(lambda x: 
                                            datetime.datetime.strptime(str(x),
                                                                           '%Y-%m-%d').date())
    
    print(df.dtypes)
    end_time = time.time()
    time_convert(end_time - start_time)
    return    df.rename(columns={'Ingreso de Venta Promedio':'Monetary Actual'})

##### Aplicación

In [21]:
Clientes_i_RFM=Ajuste_Clientes_RFM(Clientes_i_RFM)

Cliente                           object
Fecha ultima Compra               object
Recency Actual                     int64
Fecha Creacion                    object
Frecuency Actual del Cliente     float64
Kilos Venta KG Promedio          float64
Precio Promedio                  float64
Año Creación Promedio              int64
Frecuencia Historica Promedio      int64
Ingreso de Venta Promedio        float64
dtype: object
Time Lapsed = 0:0:0.20782160758972168
 H:m:s

In [22]:
Clientes_i_RFM.head()

,Cliente,Fecha ultima Compra,Recency Actual,Fecha Creacion,Frecuency Actual del Cliente,Kilos Venta KG Promedio,Precio Promedio,Año Creación Promedio,Frecuencia Historica Promedio,Monetary Actual
0,10003742,2020-05-23,521,2020-05-23,0.003344,22.000000,1300.000000,2007,19,28600.000000
1,10007508,2021-10-26,0,2018-03-01,0.201752,93.158654,1266.894231,2007,464,117683.471154
2,10017269,2021-10-23,3,2018-01-27,0.059365,22.038462,1347.782051,2007,101,29699.448718
3,10023880,2021-09-09,47,2018-12-28,0.039591,27.500000,1400.000000,2007,383,38390.000000
4,10028999,2021-09-24,32,2019-11-05,0.017541,22.000000,1320.923077,2007,62,29060.307692

#### Valoración Tipo de Semana Data Clientes

In [23]:
#======================================================================
# Se Cargan los datos de ventas con las caracteristicas de los clientes
#=====================================================================

file_direct=file_direct_O+'Val_Customers_Weeks_1010078_CT 2018_2021'+'.csv'
col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

Clientes_Valor_Week= pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
Clientes_Valor_Week.head()

,Cliente,%△Valoración Promedio \n Tipo de Semana 0,%△Valoración Promedio \n Tipo de Semana 1,%△Valoración Promedio \n Tipo de Semana 2,%△Valoración Promedio \n Tipo de Semana 3,%△Valoración Promedio \n Tipo de Semana 4,Kilos Venta KG Promedio \n Tipo de Semana 0,Kilos Venta KG Promedio \n Tipo de Semana 1,Kilos Venta KG Promedio \n Tipo de Semana 2,Kilos Venta KG Promedio \n Tipo de Semana 3,Kilos Venta KG Promedio \n Tipo de Semana 4
0,10003742,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,22.0,22.0,22.0,22.0,22.0
1,10007508,-0.007185734905445153,0.018077218717184977,0.013714992109052858,0.02452918655320076,0.013855960433295756,89.87777777777778,96.475,95.56060606060606,90.2,110.0
2,10017269,0.03046114456733656,0.019897886066589765,0.03147219540210185,0.0056993826680127755,0.0007512242388005607,21.941176470588236,22.263157894736842,22.0,22.0,22.0
3,10023880,-0.030060387249354177,0.05214065915513532,0.02113362816776547,0.012619280144029242,0.007263220502570363,25.142857142857142,29.333333333333332,30.8,27.919047619047618,26.4
4,10028999,-0.026308968642914484,-0.05027185123667554,0.01544649662663542,-0.07753219431426499,-0.0346666293918049,22.0,22.0,22.0,22.0,22.0

In [24]:
Clientes_Valor_Week.iloc[1]

Cliente                                                     10007508
%△Valoración Promedio \n Tipo de Semana 0      -0.007185734905445153
%△Valoración Promedio \n Tipo de Semana 1       0.018077218717184977
%△Valoración Promedio \n Tipo de Semana 2       0.013714992109052858
%△Valoración Promedio \n Tipo de Semana 3        0.02452918655320076
%△Valoración Promedio \n Tipo de Semana 4       0.013855960433295756
Kilos Venta KG Promedio \n Tipo de Semana 0        89.87777777777778
Kilos Venta KG Promedio \n Tipo de Semana 1                   96.475
Kilos Venta KG Promedio \n Tipo de Semana 2        95.56060606060606
Kilos Venta KG Promedio \n Tipo de Semana 3                     90.2
Kilos Venta KG Promedio \n Tipo de Semana 4                    110.0
Name: 1, dtype: object

#### Calcular Atributos de volumen 
Se contruyen los atributos relacionados al ticket de compra

##### Kilo promedio

In [25]:
df= data_i_RFM
df_g=df[['Cliente','Kilos Venta KG']].groupby('Cliente')\
        .mean().reset_index()\
        .rename(columns={'Kilos Venta KG':Dic_col['Ticket Customers'][0]})
df_g

       Cliente  Ticket Promedio Actual
0     10003742               22.000000
1     10007508               93.158654
2     10017269               22.038462
3     10023880               27.500000
4     10028999               22.000000
...        ...                     ...
5068   9992154               36.171429
5069   9993925              160.517495
5070   9994662               22.000000
5071   9994800               22.000000
5072   9997223               22.000000

[5073 rows x 2 columns]

##### CV  Coeficiente de variación

######  Std

In [26]:
df_G=df[['Cliente','Kilos Venta KG']].groupby('Cliente')\
        .std().reset_index()\
        .rename(columns={'Kilos Venta KG':'Ticket std Actual'})
print(
df_G.isnull().sum()
)
df_G=df_G.fillna(0)
df_G.head()

Cliente                0
Ticket std Actual    367
dtype: int64

    Cliente  Ticket std Actual
0  10003742           0.000000
1  10007508          36.215256
2  10017269           0.612474
3  10023880          12.102631
4  10028999           0.000000

###### Coeficiente de variación

In [27]:
df_group=pd.merge(df_g,df_G,how='right')

df_group[Dic_col['Ticket Customers'][1]]=\
df_group.apply(lambda x: 
               x['Ticket std Actual']/
               x[Dic_col['Ticket Customers'][0]] ,axis=1)
df_group

       Cliente  Ticket Promedio Actual  Ticket std Actual  Ticket CV Actual
0     10003742               22.000000           0.000000          0.000000
1     10007508               93.158654          36.215256          0.388748
2     10017269               22.038462           0.612474          0.027791
3     10023880               27.500000          12.102631          0.440096
4     10028999               22.000000           0.000000          0.000000
...        ...                     ...                ...               ...
5068   9992154               36.171429          18.376080          0.508027
5069   9993925              160.517495          81.963154          0.510618
5070   9994662               22.000000           0.000000          0.000000
5071   9994800               22.000000           0.000000          0.000000
5072   9997223               22.000000           0.000000          0.000000

[5073 rows x 4 columns]

In [28]:
Dic_col['RFM Customers'][1]

'Frecuency Actual del Cliente'

#### Merge

In [29]:
Clientes_i=pd.merge(Clientes_i_RFM,df_group)
print(Clientes_i.shape)
Clientes_i=pd.merge(Clientes_Valor_Week,Clientes_i)
print(Clientes_i.shape)
Clientes_i['$F^{-1}$ Actual']=\
    Clientes_i[Dic_col['RFM Customers'][1]].apply( lambda x: x**(-1))
Clientes_i.shape

(5073, 13)
(5073, 23)

(5073, 24)

In [30]:
Clientes_i.head()

,Cliente,%△Valoración Promedio \n Tipo de Semana 0,%△Valoración Promedio \n Tipo de Semana 1,%△Valoración Promedio \n Tipo de Semana 2,%△Valoración Promedio \n Tipo de Semana 3,%△Valoración Promedio \n Tipo de Semana 4,Kilos Venta KG Promedio \n Tipo de Semana 0,Kilos Venta KG Promedio \n Tipo de Semana 1,Kilos Venta KG Promedio \n Tipo de Semana 2,Kilos Venta KG Promedio \n Tipo de Semana 3,...,Frecuency Actual del Cliente,Kilos Venta KG Promedio,Precio Promedio,Año Creación Promedio,Frecuencia Historica Promedio,Monetary Actual,Ticket Promedio Actual,Ticket std Actual,Ticket CV Actual,$F^{-1}$ Actual
0,10003742,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,22.0,22.0,22.0,22.0,...,0.003344,22.000000,1300.000000,2007,19,28600.000000,22.000000,0.000000,0.000000,299.000000
1,10007508,-0.007185734905445153,0.018077218717184977,0.013714992109052858,0.02452918655320076,0.013855960433295756,89.87777777777778,96.475,95.56060606060606,90.2,...,0.201752,93.158654,1266.894231,2007,464,117683.471154,93.158654,36.215256,0.388748,4.956570
2,10017269,0.03046114456733656,0.019897886066589765,0.03147219540210185,0.0056993826680127755,0.0007512242388005607,21.941176470588236,22.263157894736842,22.0,22.0,...,0.059365,22.038462,1347.782051,2007,101,29699.448718,22.038462,0.612474,0.027791,16.845022
3,10023880,-0.030060387249354177,0.05214065915513532,0.02113362816776547,0.012619280144029242,0.007263220502570363,25.142857142857142,29.333333333333332,30.8,27.919047619047618,...,0.039591,27.500000,1400.000000,2007,383,38390.000000,27.500000,12.102631,0.440096,25.258465
4,10028999,-0.026308968642914484,-0.05027185123667554,0.01544649662663542,-0.07753219431426499,-0.0346666293918049,22.0,22.0,22.0,22.0,...,0.017541,22.000000,1320.923077,2007,62,29060.307692,22.000000,0.000000,0.000000,57.008334

### Data Week

In [31]:
# file_direct_O+'Weeks_clusters_1010078_CT_2018_2021 Other val 2020_2021'+'.csv'

##### Abrir

In [32]:
#======================================================================
# Se Cargan los datos de ventas con las caracteristicas de los clientes
#=====================================================================

file_direct=\
file_direct_O+'Weeks_clusters_1010078_CT_2018_2021 Other val 2020_2021'+'.csv'

col_names=pd.read_csv(file_direct,
                      encoding="utf-8",sep=";",nrows=0).columns

types_dict = {col: str for col in list(col_names)}

Df_Week= pd.read_csv(file_direct,
                   encoding="utf-8",sep=";",dtype=types_dict
                      ,index_col='Unnamed: 0'
                      )

# Se debe agregar el parametro ,index_col='Unnamed: 0' 
# de esta froma tal vez se pueda hacer un merge en base al indice

#elimina una columna en especifico
#DF_FULL.drop('Año natural', inplace=True, axis=1)
Df_Week.head(1)

,Variable,Atributo,Semana,Ingresos de Venta,Cant compras,Precio Promedio Ponderado CLP / KG,Ventas promedio Kg,Precio Promedio,Coef.,$e^{βi}$,$\%\triangle Y$,Tipo de Semana
0,Semana_1,Semana,1,210715690,1688,1401.8833868896738,89.04561611374407,1486.5527251184835,0.0,1.0,0.0,3

## data con Week type 
`data_i_RFM_week`

In [33]:
Df_Week[['Semana','Tipo de Semana']].dtypes

Semana            object
Tipo de Semana    object
dtype: object

In [34]:
data_i_RFM[['Semana','Año']].dtypes

Semana    object
Año       object
dtype: object

In [35]:
data_i_RFM_week=pd.merge(
Df_Week[['Semana','Tipo de Semana']]
,data_i_RFM#[['Semana','Año']]
,how='inner')
print(data_i_RFM.shape[0] - data_i_RFM_week.shape[0])

0

# Data solo RFM  

`RFM_Customers=Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()`


- `Estado_R(x):` función de apply
- `DF_Estado_R(DF):` Función modifica recency
- `Df_Pond_FxM(RFM_df ,  Col_FM , weighted_F,weighted_M):`

##### Apuntes

Descripción

__Primera segmentación a sobre R__
>Thus, a customer is Active if he has purchased in recent 90 days; he is Lapsing if his last purchase is between 90 and 360 days and he is Lapsed if he has not purchased in recent 365 days

##### Extracto publicación

###### __Combinación lineal entre Frequency y Monetary__
$(F \times W_F + M \times W_M)$

$
(F \times W_F + M \times W_M)
$

Se probó diferentes combinaciones de $W_F$ y $W_M$


__Finding the best Weights for the feature of (F × WF + M × WM):__ 
>In order to find the best values for WF and WM, we checked the values from 0 to 10 with step size of 0.1 for each of the Frequency and Monetary and tried to select the best values according to the result of clustering. In this process, we found 3 general clustering shapes and Fig. 2 shows them with their weights for the Active segment. We will show the selected segmentation model in the following part.
4)
>>Para encontrar los mejores valores para WF y WM, verificamos los valores de 0 a 10 con un tamaño de paso de 0.1 para cada Frecuencia y Monetario e intentamos seleccionar los mejores valores de acuerdo con el resultado de la agrupación. En este proceso, encontramos 3 formas generales de agrupamiento y la Fig. 2 las muestra con sus pesos para el segmento Activo. Mostraremos el modelo de segmentación seleccionado en la siguiente parte. 4)

###### __Finding the best Number of Segments (best K for K-Means):__




>We use K-Means, as one the most applied clustering method, in order to find the best segments for our customers. For finding the best K for our K-Means model, we hold several meetings with project managers and marketing team. According to the meetings, we understood that E-Commerce companies need 3 segments of High-Value, Medium-Value and Low-Value based on the loyalty of their customers. Moreover, they need to be able to find the difference between the Medium-Value users who have high Frequency and low Monetary with the users who have low Frequency and high Monetary. Accordingly, we decided to have 4 segments of High Value, Medium Value with High Monetary (cusotmers with high Monetary but low Frequency), Medium Value with High Frequency (cusotmers with low Monetary but high Frequency) and Low-Value for our Active customers. Since the difference between the two segments of Medium Value with High Monetary and Medium Value with High Frequency is not useful for the users who have not purchased recently, we have 3 segments of High Value, Medium Value and Low Value for the Lapsing and Lapsed Customers. The reason is that the goal for the Lapsing segment is avoiding them from being churned and the goal for the Lapsed segment is encouraging them to return and there is no meaningful difference between Medium High Monetary and Medium High Frequency. As a result, we need only one segment for our Medium Value customers in Lapasing and Lapsed Segments.
>>Utilizamos K-Means, como uno de los métodos de agrupación más aplicados, para encontrar los mejores segmentos para nuestros clientes. 

>>Para encontrar la mejor K para nuestro modelo K-Means, llevamos a cabo varias reuniones con los gerentes de proyecto y el equipo de marketing. Según las reuniones, entendimos que las empresas de comercio electrónico necesitan 3 segmentos de valor alto, valor medio y valor bajo en función de la lealtad de sus clientes. 

>>Además, deben poder encontrar la diferencia entre los usuarios de valor medio que tienen alta frecuencia y bajo valor monetario con los usuarios que tienen baja frecuencia y alto valor monetario. 

>>En consecuencia, decidimos tener 4 segmentos de Alto Valor, Valor Medio con Alta Monetaria (clientes con alta Monetaria pero baja Frecuencia), Valor Medio con Alta Frecuencia (clientes con baja Monetaria pero alta Frecuencia) y Bajo Valor para nuestros clientes Activos. Dado que la diferencia entre los dos segmentos de valor medio con alto valor monetario y valor medio con alta frecuencia no es útil para los usuarios que no han comprado recientemente, tenemos 3 segmentos de valor alto, valor medio y valor bajo para los clientes vencidos y vencidos. . La razón es que el objetivo del segmento Caducado es evitar que se abandonen y el objetivo del segmento Caducado es alentarlos a regresar y no hay una diferencia significativa entre Monetario medio alto y Frecuencia media alta. Como resultado, solo necesitamos un segmento para nuestros clientes de valor medio en los segmentos vencidos y vencidos.

##### Funciones

###### Ajuste De Datos


- Estado R
  - `Estado_R(X)` por apply
  - DF_Estado_R(DF) ajusta directamnte el DF ingresado
- `data_Min_Max(dx,Min_Max_col,drop_columns)`
  > Entrega un df copiado
  >> Ajusta las columnas del arreglo Min_Max_col
  
  - dx dataframe
  - Min_Max_col: (Array) Listado de columnas a escalar
  - drop_columns: (True or False)  Eliminar columnas del listado
- `data_ln(dx,ln_col,drop_columns)`
 
     >Pasa un listado de columnas a Ln y entrga una copia del dataframe
  - dx: dataframe
  - ln_col: (Array) Listado de columnas a escalar
  - drop_columns: (True or False)  Eliminar columnas del listado

- `Df_Pond_FxM(RFM_df ,  Col_FM , weighted_F,weighted_M):`

   > Entrega una copia del df:
    >>con una nueva columna llamda $(F \times W_F + M \times W_M)$

  - W_F pond de F
  - W_M pond de M
  - Col_FM:(F,M)

###### Ajuste de K-means

- `Curva_kmeans(D_Clientes_Frec,Col)`
    >Permite definir el numero de K segmentos de K-means.

###### Proceso de Clustering K-means




- `def_Col_cluster(D_Clientes, Col, Numero_de_clusters, ln_Col_tra=False)`

>Entrega(DataFrame):
>>Una copia del dataframe `D_Clientes` Con una columna adicional llamada `identified_clusters` con los el cluster que pertenece cada cliente.(Cada fila).

> - D_Clientes: Dataframe a clusterizar (pd.DataFrame)
> - Col: Columnas utilizadas para el clustering (Array)
> - Numero_de_clusters: K segmentos a generar (int)
> - ln_Col_tra=False: Si las columnas ya fueron ajustadas con Ln (Bulean logical value)

## Datos y columnas

### Columnas y Data


Se toma el data frame `Clientes_i` seleccionado las columnas RFM custom mas id cliente
y se guarda en `RFM_Customers`

`RFM_Customers=Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()`

##### Columnas

###### Data clientes

In [36]:
Clientes_i.head()

,Cliente,%△Valoración Promedio \n Tipo de Semana 0,%△Valoración Promedio \n Tipo de Semana 1,%△Valoración Promedio \n Tipo de Semana 2,%△Valoración Promedio \n Tipo de Semana 3,%△Valoración Promedio \n Tipo de Semana 4,Kilos Venta KG Promedio \n Tipo de Semana 0,Kilos Venta KG Promedio \n Tipo de Semana 1,Kilos Venta KG Promedio \n Tipo de Semana 2,Kilos Venta KG Promedio \n Tipo de Semana 3,...,Frecuency Actual del Cliente,Kilos Venta KG Promedio,Precio Promedio,Año Creación Promedio,Frecuencia Historica Promedio,Monetary Actual,Ticket Promedio Actual,Ticket std Actual,Ticket CV Actual,$F^{-1}$ Actual
0,10003742,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,-0.0652580488718174,22.0,22.0,22.0,22.0,...,0.003344,22.000000,1300.000000,2007,19,28600.000000,22.000000,0.000000,0.000000,299.000000
1,10007508,-0.007185734905445153,0.018077218717184977,0.013714992109052858,0.02452918655320076,0.013855960433295756,89.87777777777778,96.475,95.56060606060606,90.2,...,0.201752,93.158654,1266.894231,2007,464,117683.471154,93.158654,36.215256,0.388748,4.956570
2,10017269,0.03046114456733656,0.019897886066589765,0.03147219540210185,0.0056993826680127755,0.0007512242388005607,21.941176470588236,22.263157894736842,22.0,22.0,...,0.059365,22.038462,1347.782051,2007,101,29699.448718,22.038462,0.612474,0.027791,16.845022
3,10023880,-0.030060387249354177,0.05214065915513532,0.02113362816776547,0.012619280144029242,0.007263220502570363,25.142857142857142,29.333333333333332,30.8,27.919047619047618,...,0.039591,27.500000,1400.000000,2007,383,38390.000000,27.500000,12.102631,0.440096,25.258465
4,10028999,-0.026308968642914484,-0.05027185123667554,0.01544649662663542,-0.07753219431426499,-0.0346666293918049,22.0,22.0,22.0,22.0,...,0.017541,22.000000,1320.923077,2007,62,29060.307692,22.000000,0.000000,0.000000,57.008334

###### Columnas RFM

`Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']]`

In [37]:
Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']]

       Cliente  Recency Actual  Frecuency Actual del Cliente  Monetary Actual
0     10003742             521                      0.003344     28600.000000
1     10007508               0                      0.201752    117683.471154
2     10017269               3                      0.059365     29699.448718
3     10023880              47                      0.039591     38390.000000
4     10028999              32                      0.017541     29060.307692
...        ...             ...                           ...              ...
5068   9992154              69                      0.056885     46135.600000
5069   9993925               0                      0.408158    200374.351750
5070   9994662              12                      0.015996     28700.000000
5071   9994800             118                      0.025931     27060.000000
5072   9997223             465                      0.003344     23980.000000

[5073 rows x 4 columns]

##### Copia especifica

Se copia  
`RFM_Customers=Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()`

In [38]:
RFM_Customers=Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()

## Funciones de ajuste py 

`RFM_Customers`

###### Columna Actividad

In [39]:
RFM_Customers.columns

Index(['Cliente', 'Recency Actual', 'Frecuency Actual del Cliente',
       'Monetary Actual'],
      dtype='object')

In [43]:
import R_FM_Func
obj_1=R_FM_Func.Class_R_Estados()

In [45]:
obj_1.Estado_R

In [44]:
# from R_FM_Func import R_Estados 

# Columna Actividad
# obj_1=R_Estados

RFM_Customers=\
obj_1.DF_Estado_R(
    Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()
                )

NameError: name 'Estado_R' is not defined

In [ ]:
from R_FM_Func import R_Estados 

# Columna Actividad


RFM_Customers=\
R_Estados.DF_Estado_R(
    Clientes_i_RFM[['Cliente']+Dic_col['RFM Customers']].copy()
                )

# R_FM_Func.data_ln(
# R_FM_Func.data_Min_Max(
#     RFM_Customers,
#     ['Frecuency Actual del Cliente',
#        'Monetary Actual'],
#     False)
#     ,['Frecuency Actual del Cliente (Escala Min Max)',
#        'Monetary Actual (Escala Min Max)']
#     ,True)
# # RFM_Customers

In [ ]:
R_FM_Customers={
    'Activo':RFM_Customers[RFM_Customers['Actividad del cliente']=='Activo']
    'Fugandose':RFM_Customers[RFM_Customers['Actividad del cliente']=='Fugandose']
}