In [1]:
#=====================================================
                # BASE 
#-----------------------------------------------------
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt

#from geopandas import *

# from plotnine import *

#para ajustar las fechas
# import datetime

#para calcular el skew de un array() o list()
# from scipy.stats import skew

In [2]:
data=pd.DataFrame(
[[i*30,i*2] for i in range(1,5)]
,columns=['Recency Actual','Val']
)
data

   Recency Actual  Val
0              30    2
1              60    4
2              90    6
3             120    8

In [3]:
from R_FM_Func import *

In [12]:
# del R_FM_Func

NameError: name 'R_FM_Func' is not defined

In [4]:
f_R=DF_Estado_R

In [5]:
f_R(data)

   Recency Actual  Val Actividad del cliente
0              30    2                Activo
1              60    4                Activo
2              90    6                Activo
3             120    8             Fugandose

In [6]:
data_ln(data,['Val'],False)

   Recency Actual  Val Actividad del cliente  Val (Escala ln)
0              30    2                Activo         0.693147
1              60    4                Activo         1.386294
2              90    6                Activo         1.791759
3             120    8             Fugandose         2.079442